In [2]:
import pandas as pd
import matplotlib.pyplot as py
import numpy as np

In [4]:
df = pd.read_csv("C:\\Users\\Ambarish Deb\\Desktop\\STUDY\\Nuclei\\project\\data\\train_u6lujuX_CVtuZ9i.csv")

In [7]:
df.describe()

#inferences-
#1. some values in Loanamount, loanamountterm and credit history is missing.
#2. mean>median, rightwards skew.
#3. mean>median, rightwards skew.
#If skew present operations can't be executed directly. Data needs to be munged and cleaned first.
#4. Since mean of credit history column is 0.842 with binary values of 1 and 0, 84.2% people have a credit history.
#5. NOT AN INFERENCE BUT 5 NUMBER SUMMARY SABSE IMPORTANT HAI DOMST.

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000